/* Fonts */
@font-face {
	font-family: 'SF-Pro';
	src: url('./Assets/SF-Pro.ttf');

	font-style: normal;
	font-weight: 200;
}

@font-face {
	font-family: 'SF-Pro-Bold';
	src: url('./Assets/SF-Pro.ttf');

	font-style: normal;
	font-weight: 500;
}

/* Global Properties */
* {
	--background-color: #18191A;
	--card-color: #242526;
	--hover-color: #3D3D3D;
	--primary-text: #E4E6EB;
	--secondary-text: #B0B3B8;

	margin: 0;
	padding: 0;

	box-sizing: border-box;
}

/* DOM  */
body {
	height: 100vh;

	display: grid;
	grid-template-columns: 200px 1fr;
	grid-template-rows: 50px 1fr;
	grid-template-areas:
		'banner banner'
		'sidebar content'
	;

	background-color: var(--background-color);
}

/* Banner */
header {
	grid-area: banner;

	display: flex;
	align-items: center;

	background-color: var(--card-color);
}

#menuButton {
	height: 24pt;
	width: 24pt;
	background-size: 24pt;
	margin: 6px;

	border: none;

	background-image: url(./Assets/menu_button_dark.svg);
	background-color: transparent;
	opacity: 60%;

	cursor: pointer;
}

/* Sidebar */
nav {
	grid-area: sidebar;

	background-color: var(--card-color);
}

/* Sidebar Categories */
.sidebarCategory {
	height: 40px;

	display: grid;
	grid-template-columns: 7fr 3fr;
	align-items: center;
	text-align: center;

	font-family: 'SF-Pro';
	font-size: 16pt;
}

.categoryCardText{
	color: var(--primary-text);
}

.categoryCardLabel {
	color: var(--secondary-text);
}

.sidebarCategory:hover,
.categoryCardText:hover,
.categoryCardLabel:hover {
	background-color: var(--hover-color);
}

/* Project Container Details */
#projects {
	display: flex;

	overflow: scroll;
	overflow-x: hidden;
}
#projects::-webkit-scrollbar {
	display: none;
}
#projects[open] > #projectList::before {
	content: '';

	height: 18pt;
	width: 18pt;
	background-size: 18pt;

	display: inline-block;

	background-image: url('./Assets/chevron_down_dark.svg');
}

#projects > #projectList::before {
	content: '';

	height: 18pt;
	width: 18pt;
	background-size: 18pt;

	display: inline-block;

	background-image: url('./Assets/chevron_right_dark.svg');
}

/* Project Container Summary */
#projectList {
	height: 40px;

	display: flex;
	align-items: center;

	color: var(--primary-text);

	font-family: 'SF-Pro-Bold';
	font-size: 16pt;

	list-style: none;
	user-select: none;
	cursor: pointer;
}

#projectsContainer {
	max-height: 500px;

	overflow: hidden scroll;
}
#projectsContainer::-webkit-scrollbar {
	display: none;
}
/* Project Card */
.projectCard {
	height: 48px;

	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	align-items: center;
}

.projectCard:hover {
	background-color: var(--hover-color);
}

.projectCard:hover > .projectCardLabel {
	background-color: var(--hover-color);
}

.deleteProject {
	height: 18pt;
	width: 18pt;
	background-size: 18pt;
	margin: 6px;

	border: none;

	background-image: url('./Assets/delete_cross_dark.svg');
	background-color: transparent;
	opacity: 20%;

	cursor: pointer;
}

.deleteProject:hover {
	opacity: 80%;
}

.projectCardText {
	height: 2em;
	width: 120px;
	margin: 1px 0;
	padding-left: 4px;

	border: none;

	background-color: transparent;
	color: var(--primary-text);

	font-family: 'SF-Pro';
	font-size: 12pt;
}

.projectCardText:focus {
	outline: none;
}

.projectCardLabel {
	margin: 2px 2px;
	padding-right: 12px;

	align-self: center;
	text-align: center;

	color: var(--secondary-text);

	font-family: 'SF-Pro';
	font-size: 14pt;

	cursor: pointer;
}

/* Add Project Button */
#addprojectButton {
	margin: 12px;
	padding: 8px;

	position: absolute;
	bottom: 0;
	left: 0;

	border: none;
	border-radius: 4px;

	display: flex;
	align-items: center;
	justify-content: center;

	background-color: transparent;
	color: var(--primary-text);
	filter: drop-shadow(0px 1px 1px #000000);

	font-family: SF-Pro-Bold;
	font-size: 26pt;

	overflow: hidden;
	cursor: pointer;
}

#addprojectButton::before {
	content: '';

	height: 24pt;
	width: 24pt;
	background-size: 24pt;
	margin: 6px 1px 0 0;

	display: inline-block;

	background-image: url('./Assets/add_circle_dark.svg');
}


/* Content */
main {
	grid-area: content;

	margin: 4px;
}

/* Add Item Button */
#additemButton {
	margin: 10pt 8pt;
	padding: 4pt;

	position: absolute;

	border: none;

	display: flex;
	align-items: center;
	justify-content: space-evenly;
	text-align: center;

	
	background-color: transparent;
	color: var(--primary-text);

	font-family: 'SF-Pro-Bold';
	font-size: 18pt;

	cursor: pointer;
}

#additemButton::before {
	content: '';

	height: 20pt;
	width: 20pt;
	background-size: 20pt;

	display: inline-block;

	background-image: url('./Assets/add_circle_dark.svg');
}

/* Current Project */
#currentProject {
	height: 1.5em;
	padding: 4px;

	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;

	color: var(--primary-text);

	font-family: 'SF-Pro';
	font-size: 32pt;
}

/* Item Card */
.itemCardDetails {
	margin: 6px;

	border-radius: 18pt;

	background-color: var(--card-color);
}

.itemCardSummary {
	height: 60px;
	padding-right: 6px;

	border-radius: 18pt;

	display: grid;
	grid-template-columns: 1fr 6fr 180px;
	align-items: center;

	background-color: var(--card-color);
}

.itemCardSummary:hover {
	cursor: pointer;
}

.itemCardCheckBox {
	height: 24pt;
	width: 24pt;
	margin-left: 12px;

	appearance: none;
	cursor: pointer;
}

.itemCardCheckBox::before {
	content: '';

	height: 24pt;
	width: 24pt;
	background-size: 24pt;

	display: inline-block;

	background-image: url('./Assets/radio_unchecked_dark.svg');
}

.itemCardCheckBox:checked:before {
	content: '';

	height: 24pt;
	width: 24pt;
	background-size: 24pt;

	display: inline-block;

	background-image: url('./Assets/task_check_dark.svg');
}

.itemCardTitle {
	height: 2em;
	width: 500px;
	margin: 0 12px;

	border: none;

	text-align: center;
	justify-self: center;

	background-color: var(--card-color);
	color: var(--primary-text);

	font-family: 'SF-Pro';
	font-size: 18pt;	
}

.itemCardDate {
	height: 32px;
	width: 150px;
	margin-right: 12px;
	padding-left: 12px;

	border: none;

	font-family: 'SF-Pro';
	font-size: 12pt;

	background-color: transparent;
	color: var(--secondary-text);
}

.itemCardDate::-webkit-calendar-picker-indicator {
	opacity: 60%;
	filter: invert(1);
}
.itemCardDate::-webkit-calendar-picker-indicator:hover {
	cursor: pointer;
}
/* Item Card Details */
.itemCardDetailsContainer {
	height: 300px;

	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 50px 60px 140px 50px;
	grid-template-areas:
		'priority priority'
		'description description'
		'notes notes'
		'edit delete';
	text-align: center;
}

.itemPriority {
	grid-area: priority;

	display: flex;
	justify-content: space-around;
}

/* Priority Radio Button Container */
.priorityContainer {
	display: flex;
	align-items: center;
	justify-content: center;
}

.priorityRadio {
	height: 24px;
	width: 24px;

	appearance: none;
}

.priorityRadio::before {
	content: '';

	height: 24px;
	width: 24px;
	background-size: 24px;

	display: inline-block;

	background-image: url('./Assets/radio_unchecked_dark.svg');
	opacity: 60%;

	cursor: pointer;
}

.priorityRadio:checked::before {
	content: '';

	height: 24px;
	width: 24px;
	background-size: 24px;

	display: inline-block;

	background-image: url('./Assets/radio_check_dark.svg');

	cursor: pointer;
}

.priorityRadio:disabled::before {
	content: '';

	height: 24px;
	width: 24px;
	background-size: 24px;

	display: inline-block;

	opacity: 20%;

	cursor: pointer;
}

.priorityRadio:checked:disabled::before {
	opacity: 60%;
}

.priorityLabel {
	margin-left: 8px;

	color: var(--secondary-text);

	font-family: 'SF-Pro';
	font-size: 16pt;
}

.priorityLabel:hover {
	cursor: pointer;
}

.itemDescription {
	grid-area: description;

	border: none;

	text-align: center;

	background-color: var(--card-color);
	color: var(--primary-text);

	font-family: 'SF-Pro-Bold';
	font-size: 14pt;
}

.itemNotes {
	grid-area: notes;

	margin: 12px;
	padding: 0 8px;

	border: none;

	text-align: center;

	background-color: var(--card-color);
	color: var(--secondary-text);

	font-family: 'SF-Pro';
	font-size: 14pt;

	resize: none;
}
.itemNotes::-webkit-scrollbar {
	display: none;
}
/* Item Card Buttons */
.itemEdit {
	grid-area: edit;

	height: 24pt;
	width: 24pt;
	background-size: 24pt;
	margin-left: 12px;

	border: none;

	justify-self: left;
	align-self: center;

	background-image: url('./Assets/edit_button_dark.svg');
	background-color: transparent;

	font-family: 'SF-Pro';

	cursor: pointer;
}


.itemDelete {
	grid-area: delete;

	height: 24pt;
	width: 24pt;
	background-size: 24pt;
	margin-right: 12px;

	border: none;

	justify-self: right;
	align-self: center;

	background-image: url('./Assets/delete_trash_dark.svg');
	background-color: transparent;

	font-family: 'SF-Pro';

	cursor: pointer;
}