* {
	box-sizing: border-box;

	margin: 0;
	padding: 0;
	
	border: dashed 1px;
}

body {
	height: 100vh;
	display: grid;
	grid-template-columns: 25vw 1fr;
	grid-template-rows: 10vh 1fr;
	grid-template-areas: 
		"header header"
		"sidebar content"
	;
}

header {
	grid-area: header;
}

#sidebar {
	grid-area: sidebar;
}

#content {
	grid-area: content;
}

.projectCard {
	display: grid;
	grid-template-columns: 2fr 5fr 2fr;
	text-align: center;
}



.itemCardSummary {
	display: grid;
	grid-template-columns: 1fr 6fr 14vw;
	height: 6vh;
	padding: 0 2vw;
	align-items: center;
}

.itemCardCheckBox {
	height: 3vh;
	width: 3vw;
}

.itemCardTitle {
	margin: 0 5vw;
	height: 4vh;
	text-align: center;
	font-size: 18pt
}
.itemCardDate {
	height: 4vh;
	padding-left: 2vw;
	font-size: 12pt;
}
.itemCardDetailsContainer {
	height: 24vh;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 2fr 4fr 10fr 4fr;
	grid-template-areas: 
	'priority priority'
	'description description'
	'notes notes'
	'edit delete';
	text-align: center;
}

.priorityContainer {
	display: flex;
	align-items: center;

	justify-content: center;
}
.itemPriority {
	grid-area: priority;
	display: flex;
	justify-content: space-around;
}

.priorityLabel {
	font-size: 16pt;
	margin-left: 1vw;
}

.priorityRadio {
	height: 3vh;
	width: 3vw;
}

.itemDescription {
	grid-area: description;
	text-align: center;
}

.itemNotes {
	grid-area: notes;
	padding: 10px;
	text-align: justify;
}

.itemEdit {
	grid-area: edit;
}

.itemDelete {
	grid-area: delete;
}